rect.bordered {
        stroke: lightgrey;
        stroke-width:.6px;   
      }

      text.mono {
        font-size: 9pt;
      	font-family: "QlikView Sans", sans-serif;
        fill: #595959;
      }

      text.mono-small {
        font-size: 6pt;
      	font-family: "QlikView Sans", sans-serif;
        fill: #595959;
      }

      text.axis-dim1 {
      	font-family: "QlikView Sans", sans-serif;
        fill: #595959;
      }

      text.axis-dim2 {
      	font-family: "QlikView Sans", sans-serif;
        fill: #595959;
      }