rect.bordered {
        stroke: #E6E6E6;
        stroke-width:1px;   
      }

      text.mono {
        font-size: 10pt;
        font-family: Consolas, courier;
        fill: #aaa;
      }

      text.mono-small {
        font-size: 7pt;
        font-family: Consolas, courier;
        fill: #aaa;
      }

      text.axis-dim1 {
        fill: #000;
      }

      text.axis-dim2 {
        fill: #000;
      }